In [3]:
                                     #ASSIGNMENT 2                         Ravel Ejaz 
    #ANS1
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub4)/5
if(avg>=90):
    print("Grade: A")
elif(avg>=80 and avg<90):
    print("Grade: B")
elif(avg>=70 and avg<80):
    print("Grade: C")
elif(avg>=60 and avg<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the first subject: 1
Enter marks of the second subject: 22
Enter marks of the third subject: 3
Enter marks of the fourth subject: 4
Enter marks of the fifth subject: 45
Grade: F

In [4]:
#ANS 2
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 21
21 is Odd

In [5]:
#ANS 3
n = len([10, 20, 30]) 
print("The length of list is: ", n)

The length of list is:  3

In [6]:
#ANS 4
total = 0
list1 = [11, 5, 17, 18, 23]  
for ele in range(0, len(list1)): 
    total = total + list1[ele] 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [7]:
#ANS 5
list1 = [10, 20, 4, 45, 99]  
print("Largest element is:", max(list1))

Largest element is: 99

In [19]:
#ANS 6
a = [1,1,2,3,5,8,13,21,34,55,89]
new_list = []
for item in a:
    if item < 5:
        new_list.append(item)
        print(item)

1
1
2
3